@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;

    body {
        font-size: 100%;
        font-family: 'Poppins', sans-serif;
        background-image: url(../images/fondo.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* Variables */
$btn-color: #008CBA;
$btn-hover: #005F6B;


/* Mixins */
@mixin flex($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-column($justify: center, $align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin text($size: 1rem, $weight: 400, $color: #000) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}