/* Estilos para el formulario */
.form {
    margin: 0 auto;
    opacity: 0;
    transform: translateY(50%);
    animation: form-animation 1s ease forwards;

    h2 {
        text-align: center;
        margin-bottom: 1.25rem;
    }

    .form-group {
        margin-bottom: 1.25rem;

        label {
            display: block;
            margin-bottom: .4rem;
        }

        input,
        textarea {
            width: 100%;
            padding: 1rem;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 1rem;
        }

        textarea {
            resize: none;
            height: 10rem;
        }

    }

    .buttons {
        @include flex;
        gap: 1rem;
    }
}

@keyframes form-animation {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos para los albums */
.albums {
    @include flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 3rem;

    iframe {
        width: 25rem;
    }
}

/* Boton */
.btn {
    @include text(1rem, 400, #fff);
    display: inline-block;
    margin: 0 auto;
    background-color: $btn-color;
    padding: .625rem 1.25rem;
    border-radius: .3rem;
    border: none;

    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $btn-hover;
    }
}