.element {
    @include flex;
    min-height: 100vh;

    .image {
        flex: 1;
        @include flex;

        img {
            width: 100%;
            object-fit: contain;
            animation: image-animation 1s ease forwards;
        }

        @keyframes image-animation {
            0% {
                opacity: 0;
                transform: translateY(50%);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

    }

    .content {
        @include flex-column;
        flex: 2;
        padding: 3rem;

        .title {
            @include text(2rem, 600, #fff);
            margin-bottom: 1rem;
            transform: translateY(50%);
            animation: title-animation 1s ease forwards;
        }

        @keyframes title-animation {
            0% {
                opacity: 0;
                transform: translateY(50%);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .rol {
            @include text(1.2rem, 300, #fff);
            margin-bottom: 1rem;
            transform: translateY(50%);
            animation: title-animation 1s ease forwards;
        }

        @keyframes rol-animation {
            0% {
                opacity: 0;
                transform: translateY(50%);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .description {
            @include text(1.2rem, 300, #fff);
            margin-bottom: 1rem;
            transform: translateY(50%);
            animation: description-animation 1s ease forwards;
        }

        @keyframes description-animation {
            0% {
                opacity: 0;
                transform: translateY(50%);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}