/* Media Queries para tabletas */
@media (min-width: 768px) and (max-width: 991px) {
    .element {

        flex-direction: column;
    }

    .albums {
        flex-direction: column;
    }

}

/* Media Queries para dispositivos móviles */
@media (max-width: 767px) {
    .element {
        flex-direction: column;
    }

    .title {
        font-size: 1.5rem;
    }

    .description {
        font-size: 1rem;
    }

    .rol {
        font-size: 1rem;
    }

    .albums {
        flex-direction: column;

        iframe {
            width: 100%;
        }
    }

    .grid-img {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }


    .tour-row {
        @include flex-column;

        .col {
            @include flex;

        }
    }

}