@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
html body {
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  background-image: url(../images/fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Variables */
/* Mixins */
/* Contenedor principal */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.grid-container .flex-main {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-container .footer {
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.element .image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element .image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  animation: image-animation 1s ease forwards;
}
@keyframes image-animation {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.element .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  padding: 3rem;
}
.element .content .title {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
  transform: translateY(50%);
  animation: title-animation 1s ease forwards;
}
@keyframes title-animation {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.element .content .rol {
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 1rem;
  transform: translateY(50%);
  animation: title-animation 1s ease forwards;
}
@keyframes rol-animation {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.element .content .description {
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 1rem;
  transform: translateY(50%);
  animation: description-animation 1s ease forwards;
}
@keyframes description-animation {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos para el formulario */
.form {
  margin: 0 auto;
  opacity: 0;
  transform: translateY(50%);
  animation: form-animation 1s ease forwards;
}
.form h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}
.form .form-group {
  margin-bottom: 1.25rem;
}
.form .form-group label {
  display: block;
  margin-bottom: 0.4rem;
}
.form .form-group input,
.form .form-group textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
.form .form-group textarea {
  resize: none;
  height: 10rem;
}
.form .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@keyframes form-animation {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Estilos para los albums */
.albums {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding-top: 3rem;
}
.albums iframe {
  width: 25rem;
}

/* Boton */
.btn {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  background-color: #008CBA;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #005F6B;
}

.table {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
.table .row {
  display: contents;
}
.table .header {
  background-color: #ccc;
  font-weight: bold;
}
.table .cell {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
.table .btn {
  background-color: #008CBA;
}
.table .btn:hover {
  background-color: #005F6B;
}

.grid-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  padding-top: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.grid-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}
.grid-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Media Queries para tabletas */
@media (min-width: 768px) and (max-width: 991px) {
  .element {
    flex-direction: column;
  }
  .albums {
    flex-direction: column;
  }
}
/* Media Queries para dispositivos móviles */
@media (max-width: 767px) {
  .element {
    flex-direction: column;
  }
  .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1rem;
  }
  .rol {
    font-size: 1rem;
  }
  .albums {
    flex-direction: column;
  }
  .albums iframe {
    width: 100%;
  }
  .grid-img {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}/*# sourceMappingURL=main.css.map */