.container-tour {
    .col {
        @include text(1.5rem, 300, #fff);
        padding: 2rem 0;
        animation: col-animation 1s ease forwards;
    }


}

.img-tour {
    width: 100%;
    object-fit: contain;
}

.titulo-tour {
    @include text(2rem, 600, #fff);
    margin: 1rem;
    transform: translateY(50%);
    animation: title-animation 1s ease forwards;
}

@keyframes col-animation {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}